{% extends 'base.html.twig' %}


{% block body %}

	{% if app.user %}
		<div class="deco">
			<a href="{{ path('app_logout') }}">Déconnexion</a>
		</div>
	{% endif %}

	<div class="accueil">
		Ceci est la page d'accueil !
	</div>

{% endblock %}
