.footer{
    width: 100%;
    background-color: #423e3e;
    color: white;
    padding: 20px 0px;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.loginC{
    display:flex;
    justify-content: center;
}
#loginH1{
    color:black;
    margin-top: 20px;
    text-align: center;
}

#loginBtn{
    margin: 10px 0px;
    display:flex;
    justify-content: center;
}

.InscriptionBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.InscriptionBoxInput{
   width: 500px;
}

.hotel{
    flex-direction: column;

}

.dropdown{
    margin:0px 7px;
}

#dropHotel{
    margin-left: 20px;
}

body{
    margin-bottom: 100px;
}

.resto{
    margin:0px 15px;
}

#lblSamedi,#samedi{
    margin-right: 5px;
}

.paramHotel{
    margin: 10px 0px;
}

.accueil{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}

.deco a{
    text-decoration: none !important;
    font-size: 1.3em;
    margin: 10px;
}

.deco{
    display: flex;
    justify-content: flex-end;
}