.footer{
    width: 100%;
    background-color: #423e3e;
    color: white;
    padding: 20px 0px;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.loginC{
    display:flex;
    justify-content: center;
}
#loginH1{
    color:black;
    margin-top: 20px;
    text-align: center;
}

#loginBtn{
    margin: 10px 0px;
    display:flex;
    justify-content: center;
}

.InscriptionBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.InscriptionBoxInput{
   width: 600px;
}

.hotel{
    flex-direction: column;

}

.dropdown{
    margin:0px 7px;
}

#dropHotel{
    margin-left: 20px;
}

body{
    margin-bottom: 100px;
}

.resto{
    margin:0px 15px;
}

#lblSamedi,#samedi{
    margin-right: 5px;
}

.paramHotel{
    margin: 10px 0px;
}

.Titre h1{
    display: flex;
    justify-content: center;
    padding: 15px;
}

h2{
    display: flex;
    padding-bottom: 15px;
}

.imgEscrime{
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-bottom: 15px;
}

.txtM2l{
    font-size: 1.1em;
}

.txtM2l a{
    text-decoration: none;
}

.home{
    display: flex;
    justify-content: center;
    flex-direction: column;
}