{% extends 'base.html.twig' %}
{% block body %}
    {{form_start(form)}}
        <div class="form-group  align-middle container">
            <div class="row">
                <div class="col-2">
                    {{ form_label(form.choixAtelier,'Choix Atelier') }}
                    {{ form_widget(form.choixAtelier,{'attr':{'placeholder':'Numéro IMO','class':'form-control'}}) }}
                </div>
            </div>
        </div>