<h1>Activation de votre compte</h1>
<p>Vous vous êtes inscrit sur notre site, veuillez cliquer sur le lien ci-dessou pour l'activer</p>
<p><a href="{{ absolute_url(path('creation_activation', {'token': token})) }}">Activer mon compte</a></p>