<h1>Réinitialisation de votre mot de passe</h1>
<p>Vous avez fait une demande de réinitialisation de mot de passe, veuillez cliquer sur le lien ci-dessou pour y accéder</p>
<p><a href="{{ absolute_url(path('app_reset_password', {'token': token})) }}">Changement de mot de passe</a></p>